.header {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-options, .right-options {
  color: var(--medium-gray);
  list-style: none;
  padding: 0;
  display: inherit;
  align-items: inherit;
}

.left-options li, .right-options li {
  margin: 0 1rem;
}

.left-options li a, .right-options li a {
  text-decoration: none;
  color: var(--medium-gray);
  transition: all .3s;
  position: relative;
}

.logo{
  margin-top: .5rem;
}

.register-btn {
  border: 1px solid var(--medium-gray);
  border-radius: 8px;
  background-color: var(--almost-white);
  color: var(--medium-gray);
  padding: .4rem .9rem;
  transition: all .3s;
}

.left-options li a:hover,
.right-options li a:hover {
  color: var(--almost-black);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown ul li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown ul li {
  background-color: #ddd;
  margin: 0;
}

.dropdown ul {
  list-style: none;
  padding: 0;
}

.link:hover .dropdown {
  display: block;
}

.register-btn:hover {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-color: var(--almost-black);
}