.header {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.left-options, .right-options {
  color: var(--medium-gray);
  list-style: none;
  padding: 0;
  display: inherit;
  align-items: inherit;
}

.left-options li, .right-options li {
  margin: 0 1rem;
}

.left-options li a, .right-options li a {
  text-decoration: none;
  color: var(--medium-gray);
  transition: all .3s;
  position: relative;
  padding-bottom: 1rem;
}

.logo{
  margin-top: .5rem;
}

.register-btn {
  border: 1px solid var(--medium-gray);
  border-radius: 8px;
  background-color: var(--almost-white);
  color: var(--medium-gray);
  padding: .4rem .9rem;
  transition: all .3s;
}

.link {
  position: relative;
}

.link .dropdown {
  display: none;
  position: absolute;
  background-color: var(--almost-white) ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
  transition: all .2s;
  border-radius: 8px;
  top: 1.7rem;
}

.dropdown ul li {
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown ul li {
  margin: 0;
  padding: 1rem 1.2rem;
}

.dropdown ul {
  list-style: none;
  padding: 0;
}

.dropdown ul li img{
  margin-right: .5rem;
}

.link:hover .dropdown {
  display: block;
}

.left {
  right: 0;
}

/*
* Hover status
*/

.left-options li:hover a,
.right-options li:hover a {
  color: var(--almost-black);
}

.dropdown ul li:hover {
  background-color: #ddd;
}

.register-btn:hover {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-color: var(--almost-black);
}

/*
* Media Queries
* for different screen sizes
*/

@media screen and (m) {
  
}