<header class="header">
  <ul class="left-options">
    <li>
      <a routerLink="/">
        <img src="assets/images/logo.svg" class="logo" alt="logo">
      </a>
    </li>
    <li class="link">
      <a routerLink="/features">
        Features
        <img src="assets/images/icon-arrow-down.svg" alt="arrow-down">
      </a>
      <div class="dropdown left">
        <ul>
          <li>
            <img src="assets/images/icon-todo.svg" alt="Todo Icon">
            Todo list
          </li>
          <li>
            <img src="assets/images/icon-calendar.svg" alt="Todo Calendar">
            Calendar
          </li>
          <li>
            <img src="assets/images/icon-reminders.svg" alt="Todo Icon">
            Reminders
          </li>
          <li>
            <img src="assets/images/icon-planning.svg" alt="Todo Icon">
            Planning
          </li>
        </ul>
      </div>
    </li>
    <li class="link">
      <a routerLink="/company">
        Company
        <img src="assets/images/icon-arrow-down.svg" alt="arrow-down">
      </a>
      <div class="dropdown">
        <ul>
          <li>History</li>
          <li>Our Team</li>
          <li>Blog</li>
        </ul>
      </div>
    </li>
    <li>
      <a routerLink="/careers">
        Careers
      </a>
    </li>
    <li>
      <a routerLink="/about">
        About
      </a>
    </li>
  </ul>
  <ul class="right-options">
    <li>
      Login
    </li>
    <li>
      <button class="register-btn">
        Register
      </button>
    </li>
  </ul>
</header>
