<div class="hero">
  <div class="hero-img-mobile" style="display: none;">
    <img src="assets/images/image-hero-mobile.png" alt="Image Hero desktop">
  </div>
  <div class="hero-content">
    <div class="hero-description">
      <h1>Make remote work</h1>
      <p>Get your team in sync, no matter your location. Streamline processes, 
        create team rituals, and watch productivity soar.
      </p>
      <div class="hero-btn-area">
        <button>Learn more</button>
      </div>
    </div>
    <div class="hero-clients">
      <div class="hero-client-img">
        <img src="assets/images/client-databiz.svg" alt="Databiz Logo">
      </div>
      <div class="hero-client-img">
        <img src="assets/images/client-audiophile.svg" alt="Audiophile Logo">
      </div>
      <div class="hero-client-img">
        <img src="assets/images/client-meet.svg" alt="Meet Logo">
      </div>
      <div class="hero-client-img">
        <img src="assets/images/client-maker.svg" alt="Maker Logo">
      </div>
    </div>
  </div>
  
  <div class="hero-img-desktop">
    
 </div>
</div>
