.hero {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 2rem;
}

.hero-img-mobile {
  display: none;
}

.hero-content,
.hero-img-desktop {
  width: 47%;
  min-height: 30rem;
  margin: 0 2rem 0 4rem;
}

.hero-description h1 {
  margin: 2rem 0;
  font-size: 3em;
}

.hero-img-desktop {
  background-image: url("../../../assets/images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-description p {
  color: var(--medium-gray);
  margin: 3rem 0;
  margin-right: 1rem;
  line-height: 25px;
}

.hero-btn-area {
  margin: 3rem 0;
}

.hero-btn-area button {
  border: 1px solid var(--almost-black);
  color: var(--almost-black);
  background-color: var(--almost-white);
  cursor: pointer;
  border-radius: 14px;
  padding: .7rem 1.2rem;
  font-size: 18px;
  transition: all .3s;
}

.hero-clients {
  display: flex;
  width: 100%;
  margin-top: 5rem;
}

.hero-clients div {
  width: 25%;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.hero-btn-area button:hover {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-color: var(--almost-black);
}

@media screen and (max-width: 980px) {
  .hero-description h1 {
    margin: 1rem 0;
    font-size: 2.4em;
  }

  .hero-description p {
    margin: 2rem 0;

  }

  .hero-client-img:not(hero-client-img:nth-child(2)) img {
    width: 8vw;
  }
  
  .hero-client-img:nth-child(2) img {
    width: 5vw !important;
  }

  .hero-img-desktop {
    margin: 0;
  } 
}


/*
* Media Queries
* for mobile screen sizes
*/

@media screen and (max-width: 780px) {
  .hero {
    padding: 0;
    flex-wrap: wrap;
  }

  .hero-img-desktop {
    display: none;
  }

  .hero-img-mobile {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .hero-img-mobile img {
    width: 100vw;
  }

  .hero-content {
    width: auto;
    margin: 0;
    padding: 1.5rem 1rem;
    min-height: 25rem;
  }

  .hero-description h1 {
    margin: 1rem 0;
    font-size: 2em;
    text-align: center;
  }

  .hero-description p {
    font-size: 17px;
    margin: 0;
    text-align: center;
  }

  .hero-btn-area {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .hero-clients {
    margin-top: 3rem;
    gap: 10px;
  }

  .hero-client-img:not(hero-client-img:nth-child(2)) img {
    width: 18vw;
  }

  .hero-client-img:nth-child(2) img {
    width: 13vw !important;
  }

}