.footer {
    height: 10rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .attribution {
    text-align: center;
  }
  
  .attribution .challenge, .attribution .coded{
    margin: 1rem;
  }
  
  .attribution .challenge a {
    text-decoration: none;
    color: aqua;
  }
  
  .attribution .coded a {
    text-decoration: none;
    color: yellow;
  }